html {
    width: 100%;
    overflow-x: hidden;
}

body {
    width: 100%;
}
/* NAV */

.navbar {
    background-color: transparent !important;
    /* position: absolute; */
    height: 10vh;
    width: 100%;
    z-index: 999; /* Ensure the navbar is above other elements */
}

.container-fluid {
    position: relative; /* Make sure the container has a position to contain its absolute children */
}

.background-blue {
    background-color: #3b5765;
    height: 20vh;
}


/* HOME */

#hero {
    height: 100vh;
    background-image: url('../images/philip-heyman-orchesta.webp');
    background-repeat: no-repeat;
    background-position: center center; 
    background-attachment: scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.jumbotron {
    background-color: #f8f9fa5c; /* Light grey background */
    text-align: center; /* Center align text */
    height: 100%; /* Ensure jumbotron fills parent height */
    display: flex; /* Use flexbox */
    flex-direction: column; /* Stack items vertically */
    justify-content: center; /* Center items vertically */
}

.jumbotron h1,
.jumbotron p {
    margin: 0; /* Remove default margins */
}

.service-cards-container a {
    color: #000;
    text-decoration: none;
}


.card:hover {
    transform: scale(1.05); /* Increase size on hover */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Add shadow on hover */
}

/* CARE HOMES */

#care-home-banner {
    height: 66vh;
    background-image: url('../images/violin.jpg');
    background-repeat: no-repeat;
    background-position: center center; 
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* WEDDINGS */

#wedding-banner {
    height: 66vh;
    background-image: url('../images/background-stripes.jpeg');
    background-repeat: no-repeat;
    background-position: center center; 
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

#wedding-banner h1 {
    font-size: 400%;
    
}

.wedding-quote {
    font-size: 200%;
}

#wedding-form-section {
    height: 100vh;
    background-color: #e3e3e3;
}

.form-wrapper {
    margin: 0 auto; /* This centers the form horizontally */
    max-width: 400px; /* Adjust as needed */
}


/* TEACHING */

#teaching-quote {
    height: 30vh;
    background-image: url('../images/violin-5532995_1280.jpg');
    background-repeat: no-repeat;
    background-position: center left; 
    background-attachment: scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.teaching-list {
    list-style: none;
}

.teaching-list li:before {
    content: '✓ ';
  }


.footer {
    width: 100%;
    overflow-x: hidden;
}
